<p id="notice"><%= flash[:notice] %></p>
<p id="error"><%= flash[:error] %></p>

<%= form_for @user do |f|%>
    <div class="form-group row col-md-12">
        <%= f.label :username, class:"col-sm-2 col-form-label"%><br>
        <%= f.text_field :username, class:"form-control col-sm-10" %>
    </div>

    <div class="form-group row col-md-12">
        <div class="col-md-2">
            <%= f.label :title%>
            <%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="col-md-5">
            <%= f.label :firstName, "First Name" %>
            <%= f.text_field :firstName, class:"form-control" %>
        </div>
        <div class="col-md-5">
            <%= f.label :surname %>
            <%= f.text_field :surname, class:"form-control" %>
        </div>
    </div>

    <div class="form-group row col-md-12">
        <div class="col-md-6">
            <%= f.label :current_password, placeholder: "Enter current password" %>
            <%= password_field_tag :current_password, params[:current_password] %>
        </div>
        <div class="col-md-6">
            <%= f.label :password, "Enter a new Password"%>
            <%= f.password_field :password, class:"form-control" %>
        </div>
        <div class="col-md-6">
            <%= f.label :password_confirmation, "Repeat your new Password"%>
            <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>

    </div>

    <%= f.submit "Submit" ,class: "btn btn-primary"%>
<% end %>